---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<h1>Welcome to Astro!</h1>
	<p>This is your new Astro project. You can start building your site by editing the files in the <code>src</code> directory.</p>
	<p>To learn more about Astro, check out the <a href="https://docs.astro.build" target="_blank">documentation</a>.</p>
	<p>To get started, you can run the development server with <code>npm run dev</code> or <code>yarn dev</code>.</p>
	<p>To build your site for production, run <code>npm run build</code> or <code>yarn build</code>.</p>
	<p>To preview your production build, run <code>npm run preview</code> or <code>yarn preview</code>.</p>
</Layout>
